body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: quicksand-bold;
  src: url("../font/Quicksand/Quicksand-Bold.ttf"); }
@font-face {
  font-family: Lato;
  src: url("../font/font and icon/Lato-Regular.ttf"); }
@font-face {
  font-family: VNFquicksand;
  src: url("../font/font and icon/vnf-quicksand-bold.ttf"); }
@font-face {
  font-family: Lato-bold;
  src: url("../font/font and icon/Lato-Bold.ttf"); }
body {
  margin: 0px;
  padding: 0px;
  font-family: Lato; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

section {
  width: 100%;
  height: 100vh; }

select:focus, input:focus, textarea:focus {
  outline: none; }

.navbar {
  border: 0;
  background-color: transparent;
  margin-top: 15px; }
  .navbar .navbar-header {
    width: 10%; }
    .navbar .navbar-header img {
      width: 90%;
      position: relative;
      top: 50%;
      transform: translate(0, -50%); }
  .navbar .navbar-nav li a {
    color: #673ab7;
    padding: 10px 24px; }
  .navbar .navbar-right li {
    margin-right: 7px; }
    .navbar .navbar-right li .icon-right {
      margin-right: 18px; }
    .navbar .navbar-right li .icon-magnifier {
      min-width: 19px; }
  .navbar .btn-sigin-text {
    margin-top: 15px; }
    .navbar .btn-sigin-text a {
      color: #00bcd4 !important; }
  .navbar .btn-login {
    margin-top: 15px; }
    .navbar .btn-login a {
      font-family: Lato;
      font-size: 14px;
      letter-spacing: 0.2px;
      text-align: left;
      color: white !important;
      border-radius: 100px;
      background-color: #00bcd4;
      padding: 11px 23px; }
    .navbar .btn-login span {
      margin-left: 5px; }
  .navbar .icon-magnifier {
    font-size: 18px; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both; }

.col-md-6 {
  padding: 0; }

.bgr-cl-1 {
  background-color: #00bcd4; }

.bgr-cl-2 {
  background-color: #f44336; }

.bgr-cl-3 {
  background-color: #ffc107; }

.container-fluid {
  padding: 0; }

.row {
  padding: 0;
  margin: 0; }

#home-page .home-page-left .logo-content {
  margin-top: 16%; }
#home-page .home-page-left .text-content-title {
  position: relative;
  font-size: 64px;
  font-family: VNFquicksand;
  font-weight: bold;
  color: #00bcd4;
  margin-top: 7%;
  margin-bottom: 7%;
  line-height: 1.13; }
  #home-page .home-page-left .text-content-title .fill-top-big {
    position: absolute;
    padding: 10px 37px;
    border-radius: 35px;
    top: -4%;
    left: -10%; }
  #home-page .home-page-left .text-content-title .fill-top-small {
    position: absolute;
    padding: 10px 13px;
    border-radius: 35px;
    top: 4%;
    left: -3%; }
  #home-page .home-page-left .text-content-title .fill-bot-big-big {
    position: absolute;
    padding: 10px 43px;
    border-radius: 35px;
    top: 80%;
    left: 84%; }
  #home-page .home-page-left .text-content-title .fill-bot-big-small {
    position: absolute;
    padding: 10px 37px;
    border-radius: 35px;
    top: 90%;
    left: 81%; }
  #home-page .home-page-left .text-content-title .fill-bot-small-small {
    position: absolute;
    padding: 10px 13px;
    border-radius: 35px;
    top: 90%;
    left: 76%; }
#home-page .home-page-left .text-content-summer {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #673ab7;
  overflow: hidden;
  padding-right: 6%;
  margin-bottom: 5%; }
#home-page .home-page-left .find-more a {
  border-radius: 100px;
  background-color: #ffffff;
  border: 2px solid #673ab7;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #673ab7;
  padding: 16px 23px 16px 25px;
  font-weight: bold; }
#home-page .home-page-left .signin-try a {
  border-radius: 100px;
  background-color: #e91e63;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  padding: 18px 27px;
  color: white;
  font-weight: bold; }
  #home-page .home-page-left .signin-try a .ti-right {
    margin-left: -2%; }
#home-page .home-page-right {
  position: relative; }
  #home-page .home-page-right img {
    width: 100%;
    height: 100vh; }
  #home-page .home-page-right .btn-side-bar-pre a {
    border: 2px solid #00bcd4;
    top: 50%;
    color: #00bcd4;
    position: absolute;
    transform: translate(50%, -50%);
    border-radius: 20px;
    padding: 2px 10px; }
  #home-page .home-page-right .btn-side-bar-next a {
    background-color: #e91e63;
    top: 50%;
    right: 0;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 5px 10px; }
  #home-page .home-page-right .fill-side-big {
    position: absolute;
    padding: 10px 37px;
    border-radius: 35px;
    top: 90%;
    left: 4%; }
  #home-page .home-page-right .fill-side-small-1 {
    position: absolute;
    padding: 7px 7px;
    border-radius: 100%;
    border: solid 4px #e91e63;
    top: 90%;
    left: 13%; }
  #home-page .home-page-right .fill-side-small-2 {
    position: absolute;
    padding: 7px 7px;
    border-radius: 100%;
    border: solid 4px #b1d136;
    top: 90%;
    left: 16%; }
  #home-page .home-page-right .fill-side-small-3 {
    position: absolute;
    padding: 7px 7px;
    border-radius: 100%;
    border: solid 4px #ffc107;
    top: 90%;
    left: 19%; }

#courses {
  padding: 13% 0 13% 0; }
  #courses .content-section-courses-familiar, #courses .content-section-courses-basic, #courses .content-section-courses-advance {
    text-align: center; }
    #courses .content-section-courses-familiar .section-courses-img, #courses .content-section-courses-basic .section-courses-img, #courses .content-section-courses-advance .section-courses-img {
      width: 100%;
      min-height: 340px; }
    #courses .content-section-courses-familiar h2, #courses .content-section-courses-basic h2, #courses .content-section-courses-advance h2 {
      text-align: center;
      color: #00bcd4;
      font-family: VNFquicksand;
      font-weight: bold; }
    #courses .content-section-courses-familiar .section-courses-text, #courses .content-section-courses-basic .section-courses-text, #courses .content-section-courses-advance .section-courses-text {
      min-height: 150px;
      margin-top: 4%; }
      #courses .content-section-courses-familiar .section-courses-text p, #courses .content-section-courses-basic .section-courses-text p, #courses .content-section-courses-advance .section-courses-text p {
        font-family: Lato;
        text-align: left;
        padding: 0 140px;
        text-align: justify;
        line-height: 1.5; }
    #courses .content-section-courses-familiar a, #courses .content-section-courses-basic a, #courses .content-section-courses-advance a {
      font-size: 86%;
      color: white;
      border-radius: 100px;
      background-color: #00bcd4;
      padding: 17px 42px;
      font-weight: bold; }
      #courses .content-section-courses-familiar a .ti-right, #courses .content-section-courses-basic a .ti-right, #courses .content-section-courses-advance a .ti-right {
        margin-left: -1%; }
  #courses .content-section-courses-basic h2 {
    color: #673ab7; }
  #courses .content-section-courses-basic a {
    background-color: #673ab7; }
  #courses .content-section-courses-advance h2 {
    color: #e91e63; }
  #courses .content-section-courses-advance a {
    background-color: #e91e63; }

#bookcase {
  padding-bottom: 10%; }
  #bookcase .section-bookcase-left .section-bookcase-left-pr {
    font-family: VNFquicksand;
    text-align: justify;
    color: #673ab7;
    padding-top: 22%;
    font-size: 24px;
    position: relative;
    font-weight: bold; }
    #bookcase .section-bookcase-left .section-bookcase-left-pr menu {
      margin: 0; }
      #bookcase .section-bookcase-left .section-bookcase-left-pr menu li {
        list-style-type: none;
        padding-top: 9%; }
        #bookcase .section-bookcase-left .section-bookcase-left-pr menu li span {
          color: #ffc107;
          padding-right: 8%; }
  #bookcase .section-bookcase-left .btn-signin {
    padding: 10% 6%; }
    #bookcase .section-bookcase-left .btn-signin a {
      color: white;
      border-radius: 100px;
      background-color: #00bcd4;
      padding: 16px 43px;
      font-family: Lato;
      font-weight: bold; }
      #bookcase .section-bookcase-left .btn-signin a .ti-right {
        margin-left: -1%; }
  #bookcase .section-bookcase-right {
    padding-bottom: 10%; }
    #bookcase .section-bookcase-right .section-bookcase-right-img-1 {
      padding-top: 22%;
      position: relative; }
      #bookcase .section-bookcase-right .section-bookcase-right-img-1 img {
        border-radius: 30px;
        width: 100%; }
      #bookcase .section-bookcase-right .section-bookcase-right-img-1 .section-bookcase-right-img-2 {
        position: absolute;
        width: 53%;
        top: 13%;
        left: -11%; }
        #bookcase .section-bookcase-right .section-bookcase-right-img-1 .section-bookcase-right-img-2 img {
          width: 100%; }
      #bookcase .section-bookcase-right .section-bookcase-right-img-1 .section-bookcase-right-img-3 {
        position: absolute;
        width: 40%;
        left: 68%;
        top: 79%; }
        #bookcase .section-bookcase-right .section-bookcase-right-img-1 .section-bookcase-right-img-3 img {
          width: 100%; }
      #bookcase .section-bookcase-right .section-bookcase-right-img-1 .section-bookcase-right-control {
        background-color: #673ab7;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
        padding: 22px 25px;
        width: 19%;
        text-align: center;
        font-size: 3rem;
        position: absolute;
        border-radius: 45px;
        top: 59%;
        left: 40%;
        color: white; }

#students {
  padding: 19% 0 23% 0; }
  #students .section-students-content .section-students-ball {
    width: 20%;
    float: left;
    text-align: center; }
    #students .section-students-content .section-students-ball .ball {
      border-radius: 50%;
      width: 64%;
      height: auto;
      padding-top: 64%;
      background-color: #d8d8d8;
      margin-left: 21%; }
    #students .section-students-content .section-students-ball p {
      text-align: center;
      font-size: 24px;
      font-family: VNFquicksand;
      font-weight: bold;
      line-height: 1;
      color: #000000;
      margin-top: 19%; }

#teachers .section-teacher-content {
  position: relative;
  padding: 0; }
  #teachers .section-teacher-content .section-teacher-btn-pre {
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    z-index: 1; }
    #teachers .section-teacher-content .section-teacher-btn-pre a {
      border: 2px solid #00bcd4;
      padding: 5px 10px;
      border-radius: 20px;
      color: #00bcd4; }
  #teachers .section-teacher-content .section-teacher-btn-next {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-125%, -50%);
    z-index: 1; }
    #teachers .section-teacher-content .section-teacher-btn-next a {
      background-color: #e91e63;
      padding: 5px 10px;
      border-radius: 20px;
      color: white; }
  #teachers .section-teacher-content .section-teacher-left img {
    width: 100%;
    max-height: 100vh; }
  #teachers .section-teacher-content .section-teacher-right {
    position: relative; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-top-small {
      position: absolute;
      padding: 9px 18px;
      border-radius: 35px;
      top: 21%;
      left: 11%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-top-big {
      position: absolute;
      padding: 9px 41px;
      border-radius: 35px;
      top: 24%;
      left: 6%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-bot-big {
      position: absolute;
      padding: 10px 37px;
      border-radius: 35px;
      top: 90%;
      left: 20%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-bot-small-1 {
      position: absolute;
      padding: 7px 7px;
      border-radius: 100%;
      border: solid 4px #e91e63;
      top: 90%;
      left: 29%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-bot-small-2 {
      position: absolute;
      padding: 7px 7px;
      border-radius: 100%;
      border: solid 4px #b1d136;
      top: 90%;
      left: 32%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-fill-bot-small-3 {
      position: absolute;
      padding: 7px 7px;
      border-radius: 100%;
      border: solid 4px #ffc107;
      top: 90%;
      left: 35%; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-text-title {
      width: 60%;
      margin: 20% 20%;
      margin-bottom: 6%;
      font-family: VNFquicksand;
      font-size: 36px;
      font-weight: bold; }
      #teachers .section-teacher-content .section-teacher-right .section-teacher-text-title .teacher-lable {
        color: #673ab7; }
      #teachers .section-teacher-content .section-teacher-right .section-teacher-text-title .teacher-name {
        color: #00bcd4; }
    #teachers .section-teacher-content .section-teacher-right .section-teacher-text-content {
      width: 60%;
      margin: 20% 20%;
      margin-top: 0; }
      #teachers .section-teacher-content .section-teacher-right .section-teacher-text-content p {
        font-family: Lato;
        font-size: 16px;
        text-align: justify;
        line-height: 1.5; }

#blog {
  padding-bottom: 8%;
  background-color: #f9f9f9; }
  #blog .section-blog-content-list {
    padding: 7% 0 0 10%; }
    #blog .section-blog-content-list .comment {
      position: relative;
      width: 82%; }
      #blog .section-blog-content-list .comment .section-blog-text {
        background-color: white;
        border-radius: 20px; }
        #blog .section-blog-content-list .comment .section-blog-text .section-blog-text-review {
          padding: 2% 5% 0% 5%; }
          #blog .section-blog-content-list .comment .section-blog-text .section-blog-text-review p {
            font-size: 16px;
            text-align: justify; }
        #blog .section-blog-content-list .comment .section-blog-text .section-blog-text-reviewer {
          text-align: right;
          padding-right: 30%;
          padding-bottom: 1%; }
          #blog .section-blog-content-list .comment .section-blog-text .section-blog-text-reviewer .section-blog-text-N3 {
            font-size: 14px; }
      #blog .section-blog-content-list .comment .section-blog-reviewer-ava {
        width: 20%;
        position: absolute;
        z-index: 1;
        top: 81%;
        left: 75%; }
        #blog .section-blog-content-list .comment .section-blog-reviewer-ava img {
          width: 100%;
          height: auto;
          border-radius: 50%; }
      #blog .section-blog-content-list .comment .section-blog-btn-2 {
        padding: 10px 37px;
        position: absolute;
        top: 48px;
        left: -57px;
        border-radius: 20px; }
      #blog .section-blog-content-list .comment .section-blog-btn-1 {
        padding: 10px 19px;
        position: absolute;
        top: 24px;
        left: -20px;
        border-radius: 20px; }
    #blog .section-blog-content-list .comment:hover,
    #blog .section-blog-content-list .comment:hover .section-blog-reviewer-ava img {
      box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.1, 1.1);
      transition-duration: 1s; }

#contact .section-contact-content-left {
  height: 100vh; }
  #contact .section-contact-content-left .section-contact-left {
    padding-top: 20%;
    position: relative; }
    #contact .section-contact-content-left .section-contact-left h2 {
      font-family: VNFquicksand;
      padding: 0 0 8% 8%;
      font-size: 36px;
      color: #00bcd4; }
    #contact .section-contact-content-left .section-contact-left .section-contact-btn-1 {
      padding: 10px 46px;
      border-radius: 20px;
      position: absolute;
      top: 26%;
      left: 70%; }
    #contact .section-contact-content-left .section-contact-left .section-contact-btn-2 {
      padding: 10px 13px;
      border-radius: 20px;
      position: absolute;
      top: 26%;
      left: 91%; }
    #contact .section-contact-content-left .section-contact-left li {
      list-style-type: none;
      color: #000000;
      padding-bottom: 5%; }
      #contact .section-contact-content-left .section-contact-left li span {
        color: #00bcd4; }
      #contact .section-contact-content-left .section-contact-left li .btn-submit {
        margin-left: 63%;
        margin: 5% 0 0 63%; }
        #contact .section-contact-content-left .section-contact-left li .btn-submit a {
          font-family: Lato;
          font-size: 14px;
          letter-spacing: 0.2px;
          text-align: left;
          color: white !important;
          border-radius: 100px;
          background-color: #00bcd4;
          padding: 16px 26px; }
          #contact .section-contact-content-left .section-contact-left li .btn-submit a .ti-right {
            margin-left: -3%; }
        #contact .section-contact-content-left .section-contact-left li .btn-submit span {
          margin-left: 5px;
          color: white; }
      #contact .section-contact-content-left .section-contact-left li .form {
        position: relative; }
        #contact .section-contact-content-left .section-contact-left li .form .icon-form {
          position: absolute;
          top: 50%;
          left: 17px;
          transform: translate(0px, -50%); }
        #contact .section-contact-content-left .section-contact-left li .form .form-input {
          border-radius: 100px;
          background-color: #ffffff;
          border: solid 1px #00bcd4;
          height: 50px;
          padding-left: 10%;
          width: 100%; }
        #contact .section-contact-content-left .section-contact-left li .form .form-input:hover {
          border: solid 1px #673ab7;
          box-shadow: 0 0 5px 0 #673ab7; }
        #contact .section-contact-content-left .section-contact-left li .form .from-input-select {
          border-radius: 100px;
          background-color: #ffffff;
          border: solid 1px #00bcd4;
          height: 52px;
          padding-left: 10%;
          width: 100%; }
        #contact .section-contact-content-left .section-contact-left li .form .from-input-select:hover {
          border: solid 1px #673ab7;
          box-shadow: 0 0 5px 0 #673ab7; }
        #contact .section-contact-content-left .section-contact-left li .form .form-input-area {
          border-radius: 20px;
          background-color: #ffffff;
          border: solid 1px #00bcd4;
          height: 193px;
          padding-left: 10%;
          width: 100%;
          resize: none;
          font-family: Lato;
          padding-top: 3%; }
        #contact .section-contact-content-left .section-contact-left li .form .form-input-area:hover {
          border: solid 1px #673ab7;
          box-shadow: 0 0 5px 0 #673ab7; }
        #contact .section-contact-content-left .section-contact-left li .form .comment-input {
          top: 26px; }
#contact .section-contact-content-right iframe {
  width: 100%;
  height: 100%;
  border: 0;
  height: 100vh; }

footer {
  height: 100vh; }
  footer .logo-footer {
    margin-top: 8%; }
  footer .footer-content-left {
    margin-top: 5%;
    color: white; }
    footer .footer-content-left .footer-content-left-menu {
      margin-left: 3%; }
      footer .footer-content-left .footer-content-left-menu .footer-content {
        width: 14%;
        float: left; }
        footer .footer-content-left .footer-content-left-menu .footer-content li {
          list-style-type: none;
          margin-top: 14%;
          font-size: 16px; }
          footer .footer-content-left .footer-content-left-menu .footer-content li .footer-menu {
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 0.3px; }
    footer .footer-content-left .footer-url li {
      list-style-type: none;
      float: left;
      margin-top: 18%;
      margin-left: 6%; }
    footer .footer-content-left .link-foot li {
      list-style-type: none;
      margin-top: 20%;
      float: left;
      font-size: 24px;
      margin-left: 6%; }
    footer .footer-content-left .copyright {
      padding-top: 4%;
      margin-left: 13%; }
  footer .footer-content-right {
    float: left;
    margin-top: 6%; }
    footer .footer-content-right iframe {
      width: 450px;
      height: 568px;
      border: none;
      overflow: hidden; }

@media screen and (max-width: 375px) {
  body {
    background-color: blue; } }

/*# sourceMappingURL=style.css.map */
